<app-header-admin></app-header-admin>
<div class="container">
    <h2></h2>
    <p></p>   

         <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Nom">
         <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Prenom">
         <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Matricule">
      <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Poste">
         <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Pourcentage%">
             
    <input type="submit" value="Sauvegarder" class="btn btn-success">
    <table class="table table-bordered">
        <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Matricule</th>
              <th>Poste</th>
              <th>Pourcentage%</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td> Nom</td>
            <td> Prenom></td>
            <td> Matricule</td>
            <td>  Poste</td>
            <td>  Pourcentage%</td>
          </tr>
        
        </tbody>
      </table>
     
  </div>