<app-header-admin></app-header-admin>
<div class="container">
    <h2></h2>
    <p></p>
    <table class="table table-striped">

      <tbody>
        <tr>
          <td class="text-center">Chaine 1</td>
        </tr>
        <tr>
          <td class="text-center">Coupage</td>
        </tr>
        <tr>
          <td class="text-center">31/12/9999</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Matricule</th>
              <th>Poste</th>

            </tr>
          </thead>
        <tbody>
          <tr>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Nom"></td>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Prenom"></td>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Matricule"></td>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Poste"></td>
          </tr>

        </tbody>
      </table>
      <input type="submit" value="Sauvegarder" class="btn btn-success">
  </div>
