<app-header-admin></app-header-admin>
<div class="container">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>            
    <table class="table table-striped">
     
      <tbody>
        <tr>
          <td class="text-center">John</td>
        </tr>
        <tr>
          <td class="text-center">Mary</td>
        </tr>
        <tr>
          <td class="text-center">July</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Matricule</th>
              <th>Poste</th>
              <th>Pourcentage%</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Nom"></td>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Prenom"></td>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Matricule"></td>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Poste"></td>
            <td>  <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Pourcentage%"></td>
          </tr>
        
        </tbody>
      </table>
      <input type="submit" value="Sauvegarder" class="btn btn-success">
  </div>