<app-header-admin></app-header-admin>
<div class="container">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                     </div>
                     <div class="panel-body">
                    <form (ngSubmit)="addProduction(signup.value)" #signup="ngForm">
                      <div class="form-group">
                        <label for="sel1">Chaines</label>
                        <select  ngModel   name="id_chaine" required  class="form-control" id="selectedChaine">
                          <option value="" disabled>Choose a state</option>
                          <option *ngFor="let opt of chaines" [value]="opt.id" >{{opt.nom}}</option>

                        </select>
                      </div>

                        <div class="form-group">
                          <label for="sel1">Sections</label>
                          <select  ngModel name="id_section" required  class="form-control" id="sel1">
                            <option value="" disabled>Choose a state</option>
                            <option *ngFor="let opt of sections" [value]="opt.id" >{{opt.nom}}</option>

                          </select>

                        </div>
                        <div class="form-group">
                          <label for="sel1">Date</label>
                          <input required ngModel type="date" name="dateProduction" id="dateProduction" class="form-control input-sm" placeholder="Email Address">
                      </div>

                        <input type="submit" value="Ajouter" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    <h2></h2>
    <p></p>

  </div>
