<app-header-admin></app-header-admin>


  <div class="container">
    <h2></h2>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Chaine</th>
          <th>Section</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody  *ngFor="let production of productions">
        <tr>
          <td>{{production.nameChaine}}</td>
          <td>{{production.nameSection}}</td>
          <td>{{production.dateProduction}}</td>
          <td>
            <button (click)="goToQuality(production.id)" type="button" class="btn btn-danger">Qualite</button>
            <button (click)="goToHistory(production.id)"  type="button" class="btn btn-warning">Rendement</button>

          </td>
        </tr>

      </tbody>
    </table>
  </div>
