<app-header-admin></app-header-admin>


  <div class="container">
    <h2></h2>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Chaine</th>
          <th>Section</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>chaine 1</td>
          <td>coupage</td>
          <td>01/29/2022</td>
          <td>
            <button type="button" class="btn btn-danger">Qualite</button>
            <button type="button" class="btn btn-warning">Rendement</button>

          </td>
        </tr>

      </tbody>
    </table>
  </div>
